<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>User Management</title>
</head>
<body>
	<div align="center">
		<h1>User Management Details</h1>
			<a href="/new">Add New User</a> &nbsp;&nbsp;&nbsp; 
		 	<a href="/logout">Sign Out</a> <br />
			<br />
		<form method="post" th:action="@{/upload}"
			enctype="multipart/form-data">
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Type</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="userDetails : ${listUsers}">
						<td th:text="${userDetails.id}">ID</td>
						<td th:text="${userDetails.name}">Name</td>
						<td th:text="${userDetails.type}">Type</td>
						<td><a th:href="@{'/edit/' + ${userDetails.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp; 
							<a th:href="@{'/delete/' +  ${userDetails.id}}">Delete</a></td>
					</tr>
					<tr>
						<td />
						<td />
						<td />
						<td><input type="file" name="file" class="form-control-file">
							<br /> <br />
							<button type="submit" class="btn btn-primary">Upload File</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>